@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import "_variables";

body {
  background: hotpink;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;

}

.notepad{

}

.btn-load{
  width: 65px;
  height: 40px;
  border: 1px solid #121232;
  border-radius: 4px;
  background-color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.btn-save{
  width: 64px;
  height: 40px;
  border: 1px solid #121232;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
